*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.container {
  background:  white;
  width: 340px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.3);
}

.player {
  width: 100%;
}

video {
  width: 100%;  
  height: 200px;
  object-fit: cover;
  background: black;
  border-radius: 10px;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
}

.time-row {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 14px;
}

.progress-bar {
  width: 100%;
  height: 8px;
  background: #ddd;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}

.progress {
  width: 0%;
  height: 100%;
  background: rgb(0, 81, 180);
  border-radius: 10px;
  transition: width 0.2s linear;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.buttons button {
  background: white;
  border: none;
  padding: 8px 12px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}

.buttons button:hover {
  color: rgb(0, 81, 180);
  transform: scale(1.1);
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#volume {
  width: 100px;
  cursor: pointer;
}

#speed {
  padding: 5px;
  border-radius: 5px;
  border: none;
}